body {
  background-color: #6e6e6e;
  background-image: url("../img/defaultBackground.png");
  font-family: 'Open Sans', sans-serif;
  font-size: 5px;
  background-size: 100% 100%; }

#container {
  font-size: 24px;
  margin: 0 auto;
  padding: 10px 50px;
  width: 100%;
  position: relative;
  text-align: center;
  color: white;
  height: 720px; }

h1 {
  font-size: 48px;
  padding-top: 30px;
  text-align: center;
  color: white; }

p {
  margin: 20px;
  font-size: 20px; }

a {
  color: #fff780; }

a.button {
  font-size: 30px;
  text-decoration: none;
  color: #80e8ff;
  display: inline-block;
  margin: 20px auto;
  padding: 5px 40px;
  border: 1px solid #80e8ff;
  border-radius: 7px; }

a.button:hover {
  text-shadow: 0px 0px 8px white;
  background: rgba(151, 128, 255, 0.4); }

ul {
  list-style-type: none;
  font-size: 18px;
  padding: 0px;
  margin: 20px; }

li {
  color: #ff5096;
  margin: 5px; }
