// test
$debug-color: #ace;
.test{
  background-color: red;
}
#container
{
	font-size:17px;
	font-family: 'Playfair Display', sans-serif;
	width:1280;
	height:720px;
	border:8px solid rgba(0,0,0,0.3);
	border-radius:8px;
  #overlay {
    position: absolute;
    width: 1280px;
    height: 720px;
    background-image:url('../img/overlay1.png');
    background-size:100% 100%;
  }
  #sceneContent {
    top: 0;
  }
}

#choices
{
	position:absolute;
	bottom:0px;
	padding:0;
  padding-bottom: 25px;
	width: 100%;
	left:0px;
}
.choice
{
	cursor:pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding: 10px;
  margin: 10px 100px;
	color: #ffffff;
  height: 90px;
  border: 2px solid rgba(210,210,214, 0.55);
  border-radius: 9px;
  background-color: rgba(45, 46, 50, 0.55);
}

#characterName
{
	font-family: 'Open Sans';
	text-align:center;
	color:rgb(190,190,190);
	font-size:22px;
	text-shadow:2px 2px 3px black;
}
#placeName
{
	position:absolute;
	top:-1px;
	left:calc(50% - 100px);
	font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 22px;
	color: black;
  width: 200px;
  top: 10px;
  text-align: center;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
	background-color: none;
}
.choice:hover
{
	background-color: rgba(91, 92, 98, 0.55);
	color:white;
}
